{% extends 'base.html' %} {% load static %} {% block content %} {% include 'include/navbar.html' %}
<!-- blog section start -->
<div class="blog_section layout_padding">
  <div class="container">
    <h1 class="blog_taital">Blog</h1>
    <p class="blog_text">
      It is a long established fact that a reader will be distracted by the
      readable content of a page
    </p>
    <div class="blog_section_2">
      <div class="row">
        <div class="col-md-6">
          <h6 class="date_text">06<br />Feb</h6>
          <div class="image_4"><img src="{% static 'images/img-4.png' %}" /></div>
        </div>
        <div class="col-md-6">
          <h4 class="liya_text">Liya Mainial Catt</h4>
          <p class="ipsum_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore
          </p>
          <div class="follow_btn_main">
            <div class="like_bt"><a href="#">Like</a></div>
            <div class="comment_bt active"><a href="#">Comment</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="blog_section_2">
      <div class="row">
        <div class="col-md-6">
          <h6 class="date_text">02<br />Feb</h6>
          <div class="jonas_box">
            <h4 class="jonas_text">Liya Mainial Catt</h4>
            <p class="ipsum_text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore
            </p>
            <div class="follow_btn_main">
              <div class="like_bt"><a href="#">Like</a></div>
              <div class="comment_bt active"><a href="#">Comment</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="image_5"><img src="{% static 'images/img-4.png' %}" /></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- blog section end -->
{% endblock content %}
