{% extends 'base.html' %} {% load static %} {% block content %} {% include 'include/navbar.html' %}
<!-- contact section start -->
<div class="contact_srction layout_padding">
  <div class="container">
    <h1 class="contact_taital">Request A call Back</h1>
    <form method="POST" action="{% url 'contact' %}">
      {% csrf_token %}
      <div class="contact_srction_2">
        <div class="mail_main">
          <div class="row">
            <div class="col-md-6">
              {{contact_form.first_name}}
              {{contact_form.phone_number}}
            </div>
            <div class="col-md-6">
              {{contact_form.email}}
              {{contact_form.message}}
            </div>
          </div>
          <div class="send_bt">
            <input type="submit" value="SEND" />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- contact section end -->
{% endblock content %}
