{% extends 'base.html' %} {% load static %} {% block content %}
<!--header section start -->
<div class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="logo">
        <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" /></a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'marriage' %}">Marriage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog' %}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'news' %}">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!--header section end -->
<!-- marriage section start -->
<div class="marriage_section layout_padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 padding_left_0">
        <div class="marriage_img"><img src="{% static 'images/marriage-img.png' %}" /></div>
      </div>
      <div class="col-lg-6">
        <div class="marriage_taital_main">
          <h3 class="marriage_taital">Facelity of our marriage house</h3>
          <p class="marriage_text">
            It is a long established fact that a reader will be distracted by
            the readable content of a page
          </p>
          <div class="marriage_section_2">
            <div class="marriage_taital_left">
              <div class="car_box">
                <img src="{% static 'images/car-img.png' %}" class="car_image" />
              </div>
            </div>
            <div class="marriage_taital_right">
              <h6 class="parking_text">Car Parking</h6>
              <p class="long_text">
                It is a long established fact that a reader will be distracted
                by the readable content of a page
              </p>
            </div>
          </div>
          <div class="marriage_section_2">
            <div class="marriage_taital_left">
              <div class="car_box">
                <img src="{% static 'images/balls-img.png' %}" class="car_image" />
              </div>
            </div>
            <div class="marriage_taital_right">
              <h6 class="parking_text">Good Decoration</h6>
              <p class="long_text">
                It is a long established fact that a reader will be distracted
                by the readable content of a page
              </p>
            </div>
          </div>
          <div class="marriage_section_2">
            <div class="marriage_taital_left">
              <div class="car_box">
                <img src="{% static 'images/water-bottle-img.png' %}" class="car_image" />
              </div>
            </div>
            <div class="marriage_taital_right">
              <h6 class="parking_text">Pure Water</h6>
              <p class="long_text">
                It is a long established fact that a reader will be distracted
                by the readable content of a page
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- marriage section end -->
<!-- footer section start -->
<div class="footer_section">
  <div class="container">
    <div class="social_icon">
      <a class="padding_10" href="#"><img src="{% static 'images/fb-icon.png' %}" /></a>
      <a class="padding_10" href="#"><img src="{% static 'images/twitter-icon.png' %}" /></a>
      <a class="padding_10" href="#"><img src="{% static 'images/linkedin-icon.png' %}" /></a>
      <a class="padding_10" href="#"><img src="{% static 'images/youtub-icon.png' %}" /></a>
    </div>
    <div class="location_main">
      <div class="location_text">
        <img src="{% static 'images/map-icon.png' %}" /><span class="padding10"
          ><a href="#">Gb road 123 london Uk </a></span
        >
      </div>
      <div class="location_text center">
        <img src="{% static 'images/call-icon.png' %}" /><span class="padding10"
          ><a href="#">Call : (+01) 123456789012</a></span
        >
      </div>
      <div class="location_text right">
        <img src="{% static 'images/mail-icon.png' %}" /><span class="padding10"
          ><a href="#">demo@gmail.com</a></span
        >
      </div>
    </div>
    <div class="Enter_mail_main">
      <input
        type="text"
        class="Enter_text"
        placeholder="Enter Your Name"
        name="Enter Your Name"
      />
      <div class="subscribe_bt"><a href="#">Subscribe</a></div>
    </div>
  </div>
</div>
<!-- footer section end -->
{% endblock content %}