{% extends 'base.html' %} {% load static %} {% block content %} {% include 'include/navbar.html' %}
<!-- marriage section start -->
<div class="marriage_section layout_padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 padding_left_0">
        <div class="marriage_img"><img src="{% static 'images/marriage-img.png' %}" /></div>
      </div>
      <div class="col-lg-6">
        <div class="marriage_taital_main">
          <h3 class="marriage_taital">Facelity of our marriage house</h3>
          <p class="marriage_text">
            It is a long established fact that a reader will be distracted by
            the readable content of a page
          </p>
          <div class="marriage_section_2">
            <div class="marriage_taital_left">
              <div class="car_box">
                <img src="{% static 'images/car-img.png' %}" class="car_image" />
              </div>
            </div>
            <div class="marriage_taital_right">
              <h6 class="parking_text">Car Parking</h6>
              <p class="long_text">
                It is a long established fact that a reader will be distracted
                by the readable content of a page
              </p>
            </div>
          </div>
          <div class="marriage_section_2">
            <div class="marriage_taital_left">
              <div class="car_box">
                <img src="{% static 'images/balls-img.png' %}" class="car_image" />
              </div>
            </div>
            <div class="marriage_taital_right">
              <h6 class="parking_text">Good Decoration</h6>
              <p class="long_text">
                It is a long established fact that a reader will be distracted
                by the readable content of a page
              </p>
            </div>
          </div>
          <div class="marriage_section_2">
            <div class="marriage_taital_left">
              <div class="car_box">
                <img src="{% static 'images/water-bottle-img.png' %}" class="car_image" />
              </div>
            </div>
            <div class="marriage_taital_right">
              <h6 class="parking_text">Pure Water</h6>
              <p class="long_text">
                It is a long established fact that a reader will be distracted
                by the readable content of a page
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- marriage section end -->
{% endblock content %}