{% load static %}
<!-- footer section start -->
<div class="footer_section">
  <div class="container">
    <div class="social_icon">
      <a class="padding_10" href="#"
        ><img src="{% static 'images/fb-icon.png' %}"
      /></a>
      <a class="padding_10" href="#"
        ><img src="{% static 'images/twitter-icon.png' %}"
      /></a>
      <a class="padding_10" href="#"
        ><img src="{% static 'images/linkedin-icon.png' %}"
      /></a>
      <a class="padding_10" href="#"
        ><img src="{% static 'images/youtub-icon.png' %}"
      /></a>
    </div>
    <div class="location_main">
      <div class="location_text">
        <img src="{% static 'images/map-icon.png' %}" /><span class="padding10"
          ><a href="#">23 baba ode road iju ota ogun state, nigeria </a></span
        >
      </div>
      <div class="location_text center">
        <img src="{% static 'images/call-icon.png' %}" /><span class="padding10"
          ><a href="#">Call : (+234) 8147233247</a></span
        >
      </div>
      <div class="location_text right">
        <img src="{% static 'images/mail-icon.png' %}" /><span class="padding10"
          ><a href="#">kolawolegeorge28743@gmail.com</a></span
        >
      </div>
    </div>
    <form class="Enter_mail_main" method="POST">
      {% csrf_token %}
      {{footerForm}}
      <input class="subscribe_bt" type="submit" value="Subscribe" />
    </form>
  </div>
</div>
<!-- footer section end -->
